{% extends "base.html" %}

{% block title %}BusGo | Admin Panel{% endblock %}

{% block content %}
<div class="admin-wrapper">
    <div class="admin-content">
        <div class="admin-topnav">
            <a href="{{ url_for('admin_dashboard') }}" class="{% if request.endpoint == 'admin_dashboard' %}active{% endif %}">
                <i class="fa-solid fa-chart-pie"></i> Dashboard
            </a>
            <a href="{{ url_for('admin_users') }}" class="{% if request.endpoint == 'admin_users' %}active{% endif %}">
                <i class="fa-solid fa-users"></i> Users
            </a>
            <a href="{{ url_for('admin_buses') }}" class="{% if request.endpoint == 'admin_buses' %}active{% endif %}">
                <i class="fa-solid fa-bus"></i> Manage Bus
            </a>
            <a href="{{ url_for('admin_bookings') }}" class="{% if request.endpoint == 'admin_bookings' %}active{% endif %}">
                <i class="fa-solid fa-ticket"></i> Bookings
            </a>
            <a href="{{ url_for('admin_revenue') }}" class="{% if request.endpoint == 'admin_revenue' %}active{% endif %}">
                <i class="fa-solid fa-sack-dollar"></i> Revenue
            </a>
        </div>
        <main class="schedule-main">
            {% block admin_content %}{% endblock %}
        </main>
    </div>
</div>
{% endblock %}
