{% extends "base.html" %}
{% block content %}

<div class="schedule-main">
    <div class="schedule-container glass-booking-card">

        <h1 class="schedule-title">Selected Bus Info</h1>

        <!-- Dynamic Bus Name -->
        <div class="bus-grid-header">
            Bus No - {{ bus.bus_no }}
        </div>

        <form method="POST">

            <div class="booking-input-group">
                <label>Passenger Name:</label>
                <input type="text" name="passenger_name" required>
            </div>

            <div class="booking-input-group">
                <label>Contact Number:</label>
                <input type="text" name="contact" required>
            </div>

            <div class="seat-selection-wrapper">
                <div class="seat-grid">
                    {% for i in range(1, 17) %}
                        <div class="seat-box" data-seat="{{ i }}">
                            {{ i }}
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Hidden seat field -->
            <input type="hidden" id="seat_number" name="seat_number">

            <div style="text-align:center;">
                <button type="submit" class="confirm-booking-btn">
                    Confirm Booking
                </button>
            </div>

        </form>

    </div>
</div>

<script>
    const seats = document.querySelectorAll(".seat-box");
    const seatInput = document.getElementById("seat_number");

    seats.forEach(seat => {
        seat.addEventListener("click", function() {

            seats.forEach(s => s.classList.remove("selected"));
            this.classList.add("selected");

            seatInput.value = this.getAttribute("data-seat");
        });
    });
</script>

{% endblock %}